ansible_callback_facts_yaml: /root/.config/openshift/.ansible/callback_facts.yaml
ansible_inventory_path: .config/openshift/hosts
ansible_log_path: /tmp/ansible.log
deployment:
  ansible_ssh_user: root
  hosts:
  - connect_to: 192.168.122.100
    hostname: ocp1.192.168.122.100.nip.io
    ip: 192.168.122.100
    public_hostname: ocp1.192.168.122.100.nip.io
    public_ip: 192.168.122.100
    roles:
    - master
    - etcd
    - node
    - storage
  - connect_to: 192.168.122.101
    hostname: ocp2.192.168.122.101.nip.io
    ip: 192.168.122.101
    node_labels: '{''region'': ''infra''}'
    public_hostname: ocp2.192.168.122.101.nip.io
    public_ip: 192.168.122.101
    roles:
    - node
  master_routingconfig_subdomain: apps.192.168.122.101.nip.io
  openshift_master_cluster_hostname: None
  openshift_master_cluster_public_hostname: None
  proxy_exclude_hosts: ''
  proxy_http: ''
  proxy_https: ''
  roles:
    etcd: {}
    master:
      openshift_disable_check: disk_availability,memory_availability,docker_storage
    node:
      openshift_disable_check: disk_availability,memory_availability,docker_storage
    storage: {}
variant: origin
variant_version: '3.6'
version: v2
