#cloud-config
ssh_pwauth: True
disable_root: false
users:
  - name: oia_user
    groups: [ wheel ]
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
    - {{ lookup('file', ssh_key_file_pub) }}
    shell: /bin/bash
chpasswd: |
  oia_user:redhat01
write_files:
- content: |
   127.0.0.1		localhost.localdomain localhost
   ::1		localhost6.localdomain6 localhost6
   {% for item in instance.nodes %}
   {{ instance.nodes[item].kvm_params.ip }} {{ item }} {{ instance.nodes[item].kvm_params.hostname }}
   {% endfor %}
  path: /etc/hosts
  owner: root:root
  permissions: '0644'
