#cloud-config
password: redhat
chpasswd: { expire: False }
ssh_pwauth: True
disable_root: false
ssh_authorized_keys:
  - {{ lookup('file', ssh_key_file_pub) }}

write_files:
- content: |
   127.0.0.1		localhost.localdomain localhost
   ::1		localhost6.localdomain6 localhost6
   {% for item in instance.nodes %}
   {{ instance.nodes[item].kvm_params.ip }} {{ item }} {{ instance.nodes[item].kvm_params.hostname }}
   {% endfor %}
  path: /etc/hosts
  owner: root:root
  permissions: '0644'
