ansible_callback_facts_yaml: /root/.config/openshift/.ansible/callback_facts.yaml
ansible_inventory_path: .config/openshift/hosts
ansible_log_path: /tmp/ansible.log
deployment:
  ansible_ssh_user: {{ deployment.remote_user }}
  ansible_become: yes
  hosts:
{% for host in groups['master'] %}
  - connect_to: {{ hostvars[host]['public_ip'] }}
    hostname: {{ hostvars[host]['private_hostname'] }}
    ip: {{ hostvars[host]['private_ip'] }}
    public_hostname: {{ hostvars[host]['public_hostname'] }}
    public_ip: {{ hostvars[host]['public_ip'] }}
    roles:
    - master
    - etcd
    - node
    - storage
{% endfor %}
  - connect_to: {{ hostvars[groups['node'][0]]['public_ip']}}
    hostname: {{ hostvars[groups['node'][0]]['private_hostname']}}
    ip: {{ hostvars[groups['node'][0]]['private_ip']}}
    node_labels: '{''region'': ''infra''}'
    public_hostname: {{ hostvars[groups['node'][0]]['public_hostname']}}
    public_ip: {{ hostvars[groups['node'][0]]['public_ip']}}
    roles:
    - node
{% for host in groups['node'][1:] %}
  - connect_to: {{ hostvars[host]['public_ip'] }}
    hostname: {{ hostvars[host]['private_hostname'] }}
    ip: {{ hostvars[host]['private_ip'] }}
    public_hostname: {{ hostvars[host]['public_hostname'] }}
    public_ip: {{ hostvars[host]['public_ip'] }}
    roles:
    - node
  {% endfor %}
  master_routingconfig_subdomain: apps.{{ hostvars[groups['node'][0]]['public_ip']}}.nip.io
  openshift_master_cluster_hostname: None
  openshift_master_cluster_public_hostname: None
  proxy_exclude_hosts: ''
  proxy_http: ''
  proxy_https: ''
  roles:
    etcd: {}
    master:
      openshift_disable_check: disk_availability,memory_availability,docker_storage
    node:
      openshift_disable_check: disk_availability,memory_availability,docker_storage
    storage: {}
variant: {{ deployment.openshift_type }}
variant_version: '3.6'
version: v2
