#cloud-config
password: redhat
chpasswd: { expire: False }
ssh_pwauth: True
disable_root: false
ssh_authorized_keys:
  - {{ lookup('file', instance.ssh_key.file_public) }}

write_files:
- content: |
   127.0.0.1		localhost.localdomain localhost
   ::1		localhost6.localdomain6 localhost6
   {% for item in instance.nodes %}
   {{ item.value.ip }} {{ item.key }} {{ item.hostname }}
   {% endfor %}
  owner: root:root
  path: /etc/hosts
  permissions: '0644'
